/* ==========================================================================
   New Google Font API's
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gilda+Display);



/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.hide{display:none;}


/*text-transform: uppercase;*/


body{color:#797979;font-family:'Gilda Display', serif; }


h1,h2{width:800px;margin:0 auto;font-weight: normal;}
h1{font-family:'Bree Serif', serif;color:#fff; font-weight:700; letter-spacing:0px; font-size:24px;margin-top:160px;} 
h2{font-family:'Gilda Display', serif; font-size: 26px;color:#fff;padding-top:12px}

h3{font-family:'Bree Serif', serif;color:#b73437;font-size: 48px;line-height: 1em; border-bottom:1px solid #b73437;padding-bottom:80px;text-align: center;margin-top:0px;padding-top:95px;position: relative;}
  h3 div{position: absolute;bottom:30px;width:100%;text-align: center;}
h4, h3 div{font-family: 'Gilda Display', serif; color:#797979;font-size: 26px;font-weight: normal;text-transform: uppercase;/* padding-top: 30px; */}

h5{font-family: 'Fjalla One', sans-serif;font-size: 40px;color:#797979;margin:20px 0 10px;text-transform:uppercase}
h6{font-family: 'Fjalla One', sans-serif;font-size:48px;color:#b73437;text-transform:uppercase;margin-bottom:25px;}
h7{font-family: 'Fjalla One', sans-serif;font-size: 30px;color:#797979;margin:20px 0 10px;text-transform:uppercase}

p{font-size: 22px;font-weight:normal; margin:0;padding:0 0 1em 0;}
  p a{text-decoration:none;border-bottom:1px solid #b73437;color:inherit}
  p a:hover{color:#b73437;}


body{background:#676767}

#header{width:100%; height:471px;background:url(../img/bg-header.jpg) top center no-repeat #676767}
  #header-inner{width:931px;margin:0 auto;padding-top:66px;}
  #logo{background:url(../img/logo.png)}
  #header nav{float:right;margin-top:-5px;}
   #header nav a{float:left; margin-left:30px;font-size:30px;color:#797979;font-family:'Fjalla One', sans-serif;text-decoration:none;padding:14px 0;}
    #header nav a.active{color:#2e2e2e}
    #header nav a:hover{border-bottom:3px solid #bf4244;color:#}
    #header nav a:last-child {background:#bf4244;color:#fff;border:transparent !important;padding:10px}
#header nav a:last-child:hover{background:#bf4244;color:#850f12  ;}
  #header-inner .big-red-button{display:inline-block;padding:10px;margin:10px 15px;width:auto;font-size:20px;float:right;}


#middle{max-width:1541px;margin:0 auto;background:url(../img/bg-doc.gif);background-color: #676767;}
#main{width:940px;padding:0 86px;margin:0 auto;background:#eee}



#home-details{}
  #home-details .col{float:left;width:380px;} 
  #home-details .col:first-child{margin-right:60px;}


#home-agenda{font-size:26px;font-family:'Gilda Display', serif;}
  #home-agenda .col{float:left;}
  #home-agenda .col-1{width:150px;margin-right:80px;text-align:right;clear:left;}
  #home-agenda .col-2{width:670px;clear:right;margin-bottom:20px;}
  .big-red-button{padding:25px 0;width:620px;display:block; margin: auto;color:#fff;background:#b73437;font-size:30px;font-family:'Fjalla One', sans-serif;text-transform:uppercase;text-align:center;text-decoration:none;}
    .big-red-button:hover{background:#bf4244;color:#850f12  ;}

#contact .person{float:left;font-size:26px;margin-right:30px;}
  #contact .person:last-child{margin-right:0}
  #contact .name {font-family: 'Fjalla One';font-size: 30px;text-transform:uppercase;padding:10px 0;display:inline-block;}

.designer{cursor:pointer;float:left;width:261px;font-family:Fjalla One;font-size:24px;text-transform:uppercase;margin:60px 20px 0 20px;position:relative;padding: 10px 0;}
.designer .name{padding:10px 0}
.firstName {color:#b73437;}
.lastName{color:#acacac}
.designer .halo{position:absolute;background:#2a2a2a;;left:-20px;top:-10px;;z-index:100;padding:20px;height: 455px;}
  .designer .halo img{display:block;}
  .designer .halo .note{font-family:'Gilda Display', serif; right:20px;top:20px;width: 213px;height:142px;background:#f1f1f1;padding:25px;color:#898989;font-size:16px;text-transform:none;}
  .designer .halo .links{position:absolute;bottom: 5px;width:263px}
    .designer .links a{color: #acacac;text-decoration:none;font-size: 16px;}
  .designer .close{position:absolute;right:0;top:5px;cursor:pointer;}

/*   .toleft .halo{left:-300px !important;left:none !important;}
    .toleft .halo .note{left:20px;}
    .toleft .halo .links{left:20px;}
    .toleft .halo img{right:25px;position:absolute;}
    .toleft .halo .name{position:absolute;bottom:15px;left:300px;}
 */

footer{height:456px;background: url(../img/bg-footer.jpg) top center no-repeat #676767;}

  #footer-inner{width:1024px;margin:0 auto;text-align: center;color:#fff;}

  #footer-inner nav{    padding:75px 0 150px 0;  }
    #footer-inner nav a{ display: inline-block;font-family: Fjalla One, sans-serif;font-size: 26px;color:#fff;text-decoration: none;padding:0 45px;}

  footer p{font-family: Fjalla One, sans-serif;font-size: 16px;padding:10px 0;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

=.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
