<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HCID Connect : Career Services : 
        School of Informatics and Computing: Indiana University Bloomington</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=1400">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="icon" href="http://www.indiana.edu/favicon.ico" />
        <link rel="shortcut icon" href="http://www.indiana.edu/favicon.ico" />

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body id="App">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script type="text/x-handlebars">
            <section id="header">
                <div id="header-inner">

                  <a href="#"><img src="img/logo.png"/></a>
                  <nav>
                    {{#link-to 'index'}}EVENT{{/link-to}}
                    {{#link-to 'designers'}}DESIGNERS{{/link-to}}
                    {{#link-to 'program'}}PROGRAM{{/link-to}}
                    <a href="#">REG CLOSED</a>
                  </nav>



                  <h1>{{title}}</h1>
                  <h2>{{{tagline}}}</h2>
                </div>
            </section>
            <div id="middle">

              <div id="main">
                
                {{#if subheading}}
                <h3>{{subheading}}
                  {{#if subheadingTagline}}
                  <div>{{subheadingTagline}}</div>
                  {{/if}}
                </h3>
                {{/if}}

                <div>
                  {{outlet}}
                </div>

              </div>

            </div>

            <footer>
                <div id="footer-inner">
                    <nav>
                        {{#link-to 'index'}}EVENT{{/link-to}}
                        {{#link-to 'designers'}}DESIGNERS{{/link-to}}
                        {{#link-to 'program'}}PROGRAM{{/link-to}}
                        <a href="https://soic-indiana-csm.symplicity.com/events/hcidconnect" target="_blank">REGISTER</a>
                        {{#link-to 'contact'}}CONTACT {{/link-to}}
                    </nav>


                    <p>
                        2014 HCI/d CONNECT   JANUARY 23-24, 2014 - BLOOMINGTON, INDIANA
                    </p>
                    <p>
                        <a href="tel:8128561094">(812) 856-1094</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:caldwell@indiana.edu">caldwell@indiana.edu</a>
                    </p>
                    <p>
                        &copy; 2014 SPONSORED BY IU SCHOOL OF INFORMATICS & COMPUTING 
                    </p>


                </div>

            </footer>
        </script>


        <script type="text/x-handlebars" id="index">
          
          <div class="clearfix" id="home-details">
            <div class="col col-1">


              <h5>WHEN</h5>
              <p>Thursday January 23, 2014
              <br/>
              Starting @ 8 AM (Eastern Time)
              </p>

              <h5>WHERE</h5>
              <p>Alumni Hall (Room 178)<br/>
              <a href="http://imu.indiana.edu/about/index.shtml" target="_blank">Indiana Memorial Union</a></br>(West End - 1st Floor)
              </p>

              <h5>COST</h5>
              <p><font color="#bf4244">$500</font> / Company<br/>
              </p>

              
              <h5>AIRPORT</h5>
              <p>Indianapolis, Indiana<br/>
              IND - Airport Code
              </p>

<!--
              <h5>SHIPPING</h5>
              <p>
                Indiana Memorial Union<br/>
                Attn: Allison Sparks for HCID Connect<br/>
                900 East 7th Street<br/>
                Bloomington, IN 47405<br/>
              </p>  
-->              
            </div>


            <div class="col col-2">
              

              <h5>HOTEL</h5>
              <p>IMU Biddle Hotel<br/> (Same Building As Event)<br/>
              <a href="tel:8002098145">800-209-8145</a><br/>
              <a href="https://www.myfidelio.net/webui/AvailabilitySearch.aspx?chain=IQ&property=USIMU" target="_blank">Reserve Online</a>
              </p>


              <h5>FOOD & LIBATIONS</h5>
              <p><a href="http://www.yelp.com/biz/uptown-cafe-bloomington" target="_blank">Uptown Cafe</a> (Burgers & Crab Cakes)<br/>
              <p><a href="http://www.yelp.com/biz/finchs-brasserie-bloomington" target="_blank">Finchs Brasserie</a> (Mussels)<br/>
              <p><a href="http://www.yelp.com/biz/malibu-grill-bloomington-2" target="_blank">Malibu Grill</a> (Seafood)<br/>
              <p><a href="http://www.yelp.com/biz/the-rail-bloomington" target="_blank">The Rail</a> (Tapas Style)<br/>
              <p><a href="http://www.yelp.com/biz/sweet-grass-bloomington" target="_blank">Sweet Grass</a> (Southern Style)<br/>
              </p>
              

            </div>


          </div>
          <br/><br/>  
          <a class="big-red-button" target="_blank" href="https://soic-indiana-csm.symplicity.com/events/hcidconnect">Register Now</a>

          <div id="home-agenda">
            <h3>2014 HCI/d  -  AGENDA
              <div>JANUARY 22-24, 2014</div>
            </h3>

            <h6>Kickoff &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#c2c2c2">January 22</font></h6>
            <div class="clearfix">
             
              <div class="col col-1">
                7-10:00 PM
              </div>
              <div class="col col-2">
                <h7>Networking Reception</h7>
                <br/>
                <p><a href="http://www.yelp.com/biz/serendipity-martini-bar-bloomington-2" target="_blank">Serendipity Martini Bar & Restaurant</a></p>
              </div>


            </div>

            <h6>&nbsp;&nbsp;&nbsp;&nbsp;day 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#c2c2c2">January 23</font></h6>
            <div class="clearfix">
              

              <div class="col col-1">
                8:00 AM
              </div>
              <div class="col col-2">
                <h7>Employer Setup</h7>
                <br>
                <!--Sub Text Goes Here -->
              </div>
              

              <div class="col col-1">
                9:00 AM
              </div>
              <div class="col col-2">
                <h7>Faculty Panel</h7>
                <br>
                <!--Sub Text Goes Here -->
              </div>
              

              <div class="col col-1">
                10:00 AM
              </div>
              <div class="col col-2">
                <h7>Employer Presentations</h7>
                <br>
              </div>
              
              <div class="col col-1">
                11:00 AM
              </div>
              <div class="col col-2">
                <h7>LUNCH & NETWORKING</h7>
                <br>
                <!--Sub Text Goes Here & Here -->
              </div>
              

              <div class="col col-1">
                12:00 PM
              </div>
              <div class="col col-2">
                <h7>Employer Presentations</h7>
                <br>
              </div>

              
              <div class="col col-1">
                1:00 PM
              </div>
              <div class="col col-2">
                <h7>DESIGN CHALLENGE</h7>
                <br>
              </div>


              <div class="col col-1">
                3:00 PM
              </div>
              <div class="col col-2">
                <h7>Career Fair</h7>
                <br>
              </div>

              
              <div class="col col-1">
                4:30-6:00 PM
              </div>
              <div class="col col-2">
                <h7>Reception at HCI Design Studio</h7>
                <br>
              </div> 



            </div>
            <h6>&nbsp;&nbsp;&nbsp;&nbsp;day 2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#c2c2c2">January 24</font></h6>
            <div class="clearfix">
             

              <div class="col col-1">
                8-5:00 PM
              </div>
              <div class="col col-2">
                <h7>IN-PERSON INTERVIEWS <font color="#c2c2c2">&nbsp;&nbsp;(Optional)</font></h7>
                <br>
              </div>
              <br/><br/><br/><br/><br/>
            </div>

          </div>


        </script>

        <script type="text/x-handlebars" id="designers">

  {{#if subheading}}
          <h5>{{title}}</h5>
          {{/if}}

          <div class="clearfix">
            {{#each model}}
            {{#view App.DesignerView }} 
            <div class="designer">
              <img {{bindAttr src="image"}} width="260" height="190"/>
              <div class="name"><span class="firstName">{{{firstName}}}</span> <span class="lastName">{{{lastName}}}</span></div>
              <span {{bindAttr class="direction"}} >
                <div class="halo hide" >
                  <img {{bindAttr src="image"}} width="260" height="190"/>
                  <div class="name"><span class="firstName">{{{firstName}}}</span> <span class="lastName">{{{lastName}}}</span></div>
                  <div class="note">
                    {{note}}
                  </div>
                  <div class="links">
                    &nbsp;&nbsp;<a target="_blank" {{bindAttr href="portfolio"}}>portfolio</a>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" {{bindAttr href="email"}}>resume</a>
                    {{#view App.CloseButtonView}}
                    <a class="close">close&nbsp;&nbsp;</a>
                    {{/view}}
                  </div>
                </div>
              </span>
            </div>
            {{/view}}
            {{/each}}


          </div>


        </script>

       <script type="text/x-handlebars" id="program">
                
                <h5>DESIGN PRACTICE</h5>

                <p>
                Designing from day one, students from a variety of backgrounds (from journalism, industrial design, aerospace engineering, philosophy, graphic design, political science, and countless others) learn to work cooperatively utilizing a variety of proven protocols for effective collaboration. As they progress through the program, they refine their process, developing their own strategies for completing project objectives, as well as developing new concrete visual and interaction design skills. Projects are sourced via companies large and small, with challenging problem spaces based on the real-world design problems they face on a daily basis. 
                </p>

                <h5>RESEARCH &amp; PROTOTYPING</h5>
                <p>
                IU HCI/d students are taught to not only think about design solutions to problems, but to actively invest in a problem space, and to bring those ideas to life. A foundational course in research methodologies exposes students to the finer points of user research, from ethnography and artifact analysis to cultural probes and contextual inquiry. In addition, an advanced prototyping class teaches students to use both everyday materials and the latest open-source hardware technologies to build and implement their design ideas in the physical world. This combination of research and prototyping prepares students with the skills necessary to reinforce and articulate their design thinking in concrete and tangible terms. 
                </p>



                <h5>THEORY</h5>
                <p>
                    Developing a personal design philosophy is considered to be one of the most important components of the HCI/d program, and students are exposed to an interdisciplinary array of theoretical and methodological frameworks to help them shape and sharpen their perspective. Beginning with a survey course focusing on the history of the field, our students are encouraged both to contextualize their designs in the world around them, and to constantly reflect on their process as they mature as designers. Culminating in a capstone project their final semester, in which they incorporate all they have learned across the fields of research, prototyping, and design practice, our graduates are equipped with the ability to think deeply about design as both a practice and an ongoing dialogue with the world around them, and are prepared to aid others in tackling difficult problems by sharing all they have learned. 
                </p>
                <br>
                

                

                <h3>
                    PLACES WE WORK
                </h3>

                <p style="padding-left:30px"><img src="img/places-we-work.png">
                </p><br/><br/><br/>


        </script>


        <script type="text/x-handlebars" id="register">
                <p>register goes here</p>
        </script>

        <script type="text/x-handlebars" id="contact">
          <div class="clearfix" id="contact" style="margin-left:35px">
             <div class="person">
              <img src="img/kate.jpg">
              <br />
              <span class="name">
                <span class="firstName">kate</span> <span class="lastName">caldwell</span>
              </span>
              <p>
              Director of Career Services<br>
              <a href="tel:8128561094">(812) 856-1094</a><br>
              <a href="mailto:caldwell@indiana.edu">caldwell@indiana.edu</a>
              </p>
            </div>

            <div class="person">
              <img src="img/jared.jpg">
              <br />
              <span class="name">
                <span class="firstName">Jared</span> <span class="lastName">Forney</span>
              </span>
              <p>
              2nd Year Student<br>
              <a href="mailto:jmforney@indiana.edu">jmforney@indiana.edu</a>
              </p>
            </div>

         <div class="person">
              <img src="img/stephen.jpg">
              <br />
              <span class="name">
                <span class="firstName">Stephen</span> <span class="lastName">Hicks</span>
              </span>
              <p>
              2nd Year Student<br>
              <a href="mailto:shicks@indiana.edu">shicks@indiana.edu</a>
              </p>
              <br/><br/><br/>
            </div>

          </div>
        
        </script> 



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/vendor/handlebars-1.0.0.js"></script>
        <script src="js/vendor/ember-1.0.0.js"></script>
        <script src="js/vendor/ember-data.min.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-17439377-1');ga('send','pageview');
        </script>

      </body>
</html>

